header{
    height: 125px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #efefef;
    color: black;
    font-size: large;

}

header h1{
   flex: 1 1 50%;
}

header ul{
    flex: 1 1 50%;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

header ul li{
    display: inline-flex;
    margin: 10px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.hero{
   height: 200px; 
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.hero img{
    width: 128px; 
    height: 200px;
}

.information{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}

main {
    flex:1 1 75%;
    display: flex;
    flex-direction: column;
    border-left: solid;
}

.bio {
    margin: 20px;
}

.apps{
    display: flex;
    flex-wrap: wrap;
}


.showcaseApp {
    flex: 1 0 100%;
    height: 50%;
    color: black;
    text-align: center;
    position: relative;
    font-size: xx-large;
    font-weight: bolder;
}

.showcaseApp a img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exampleApp {
    flex:1 0 50%;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
    font-size: x-large;
    font-weight: bolder;
}

.exampleApp a img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.contactInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bolder;

}

.contactInfo a{
    text-decoration: none;
    margin: 20px;
}

