/*Creates responsive layout for items in the header */
header{
    height: 125px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #efefef;
    color: black;
    font-size: large;

}

header h1{
   flex: 1 1 50%;
   display: inline;
}

header ul{
    flex: 1 1 50%;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

header ul li{
    display: inline-flex;
    margin: 10px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

/*Responsive design with hero image and subtitle*/

.hero{
    background-color: rgba(0,50,106,0.80);
    background-size: 100%;
   height: 200px; 
   width: 100%;
   padding: 10px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.hero img{
    width: 128px; 
    height: 200px;
}

/*Creates a responive layout and nested flexboxes for navigation section, bio, and work examples*/
.information{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
}

nav{
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}

main {
    flex:1 1 75%;
    display: flex;
    flex-direction: column;
    border-left: solid;
}

.bio {
    margin: 20px;
}

.apps{
    display: flex;
    flex-wrap: wrap;
}

/*This main item is much larger than other work examples and is nested within the 'main' flexbox*/
.showcaseApp {
    flex: 1 0 100%;
    height: 50%;
    color: black;
    text-align: center;
    position: relative;
    font-size: xx-large;
    font-weight: bolder;
}

.showcaseApp a img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

/*Centers work example subtitles on the cards*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Smaller work example cards with responsive layout*/
.exampleApp {
    flex:1 0 50%;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
    font-size: x-large;
    font-weight: bolder;
}

.exampleApp a img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.contactInfo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bolder;

}

.contactInfo a{
    text-decoration: none;
    margin: 20px;
}

/*media queries to adjust for issues with responsive design on smaller screens*/

@media only screen and (max-width: 849px) {
    header {
        height: 175px;
        align-items: center;
    }
    header h1 {
      flex: 1 1 100%;
    }
    header ul { 
        flex: 1 1 100%;
    }
  }

  @media only screen and (max-width: 472px){
    .contactInfo {
        flex-wrap: wrap;
    }
    .contacInfo a{
        flex: 1 1 50%;
    }
    .showcaseApp {
        font-size: medium;
    }
    .exampleApp{
        font-size: medium;
    }
  }

  @media only screen and (max-width: 325px){
    header {
        height: 250px;
    }
    header ul{
        flex-wrap: wrap;
    }
  }
